* { margin: 0 }

/********************************************************************************
 * Background
 ********************************************************************************/

 body {
  background-image: url('assets/dpro_login_bg.jpg');

  /* background-color should always be specified */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#:~:text=a%20none%20value.-,Note,-%3A%20Even%20if%20the */
  background-color: #1d172a;    /* Most dominant color in the background */

  background-position:
    center   /* Center horizontal */
    bottom;  /* Mimic original (image bottom sticks to page bottom) */
  min-height: 100vh;  /* height must be at least viewport height, so the above line works even without content */
}


/********************************************************************************
 * Main box
 ********************************************************************************/

body {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  margin: 10%;
}

.container {
  background-color: rgba(248, 248, 248, 0.93);
  padding: 25px 5px;

  border-radius: 10px;
  font-family: sans-serif;
}

form {
  margin: 15px;
}

form > h3 {
  text-align: center;
  margin-bottom: 15px;
}

.form-row > label {
  display: block;
  margin: 5px auto 3px;
}

.form-row > label[for=rememberMe] {
  display: inline-block;
}

.form-row > input {
  padding: 7px;
}

button {
  margin: 20px auto;
  display: block;
}

#login {
  background-color: #f7941d;
}

#signup {
  background-color: #18c451;
}

/* Padding for textbox: button + input textbox */
.pad-textbox {
  padding: 9px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
}

.container > a {
  display: block;
  margin: 15px 0;
  text-align: center;
}

hr {
  border: 1px dotted #ddd;
  margin: 0.5em auto;
}
