* {
  color: white;
}

select, button {
  color: initial;
}

.order-type {
  display: flex;
  justify-content: space-between;
}

.form-row {
  display: flex;
}

.form-row > label {
  width: 30%;
}

.form-row > input[type], .form-row > select {
  width: 70%;
}

.form-row > input[type=checkbox] {
  width: auto;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
